= form_for @semester, :url => admin_semesters_path do |semester|
  = semester.label :name
  = semester.text_field :name
  = semester.label :start_date
  = semester.text_field :start_date
  = semester.label :end_date
  = semester.text_field :end_date
  = semester.submit
