= form_for @basics, :method => :put,
  :url => { :action => "update",
    :controller   => "leader/group_steps/basics",
    :group_number => @basics.group.number,
    :nickname     => current_user.nickname } do |basics|
  - @basics.errors.full_messages.each do |message|
    = message
  = basics.label :name
  = basics.text_field :name
  = basics.label :semester_id, "Semester"
  = basics.collection_select :semester_id, Semester.all, :id, :name,
    :prompt => "Select a Semester"
  = basics.label :description
  = basics.text_area :description
  = basics.submit "Save and Continue"
