<!DOCTYPE html>
<html>
<head>
  <title>Lg</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= "Logged In As: #{current_user.name}" || "NOT LOGGED IN" %></h1>

<% flash.each do |type, message| %>
  <div class="flash #{type}">
    <%= message %>
  </div>
<% end %>
<%= yield %>

</body>
</html>
