= form_for @lifegroup, :url => leader_lifegroups_path do |lifegroup|
  - @lifegroup.errors.full_messages.each do |message|
    = message
  = lifegroup.label :name
  = lifegroup.text_field :name
  = lifegroup.label :semester_id, "Semester"
  = lifegroup.collection_select :semester_id, Semester.all, :id, :name,
    :prompt => "Select a Semester"
  = lifegroup.label :description
  = lifegroup.text_area :description
  = lifegroup.label :leader_ids, "Co Leaders"
  = lifegroup.collection_select :leader_ids, User.order(:display_name), :id, 
    :display_name, {}, { :multiple => true }
  = lifegroup.submit "Save and Continue"
